name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  buildWindows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - name: Force git to use LF
        # This step is required on Windows to work around issues with go fmt.
        # TODO: replace with a checkout option when https://github.com/actions/checkout/issues/226 is implemented
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
        id: go

      - name: Format
        run: |
          go fmt ./...
          git diff --exit-code
      - name: Test
        run: go test ./...
  build:
    name: Build Linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
        id: go

      - name: Format
        run: |
          go fmt ./...
          git diff --exit-code
      - name: Test
        run: go test ./...
      - name: Coverage
        run: go test -v -coverprofile=coverage.out ./...
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          flags: unittests
          fail_ci_if_error: false
          verbose: true
